<Roblox.Configuration.Properties.EnvironmentSettings>
  <setting name="EnvironmentAbbreviation" serializeAs="String">
    <value>RCS</value>
  </setting>
  <setting name="EnvironmentName" serializeAs="String">
    <value>Roblox.Configuration.Site</value>
  </setting>
  <setting name="EnvironmentId" serializeAs="String">
    <value>2</value>
  </setting>
  <setting name="InternalServicesProtocol" serializeAs="String">
    <value>https</value>
  </setting>
  <setting name="InternalServicesDomain" serializeAs="String">
    <value>service.simulprod.com</value>
  </setting>
</Roblox.Configuration.Properties.EnvironmentSettings>