/*
    Lifted from "InternalWebsites/AdminWebsite/UnsecureContent/css/master.css"
    Modified by Brent on 2-8-2022 for configuration website
*/
/* mvc pages */

#GroupName {
    /*width: 550px;*/
    height: 28px;
    margin-bottom: 3px;
}

#NamePattern {
    /*width: 550px;*/
    height: 28px;
}

#ValuePattern {
    /*width: 550px;*/
    height: 28px;
}

#alertDiv {
    display: none;
}

/* div containing lists of settings, maybe populated with ajax */
.resultsContainer {
    margin-top: 20px;
}

/*.settingsTableCaption {
    padding: 3px;
}

.settingsTable 
{
    border-collapse: collapse;
    font-size: 12px;
}*/

.settingsTable td {
    white-space: nowrap;
}

.settingsTable td .truncated
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoMessage {
    display: inline-block;
    min-width: 40%;
}

/* actions column -> anchor */
.settingsTable .a a
{
    /*color: #095fb5;*/
}

/* name column */
.settingsTable .n {
    width: 270px;
}

/* Highlight results from filter*/
.settingsTable .highlighted {
    font-weight: bold;
    background-color: lightgoldenrodyellow;
}

/* value column */
.settingsTable .valueCell {
    width: 300px;
    margin: auto;
}

/* actual value */
.settingsTable .value {
    width: 210px;
    float: left;
}

/* icon div*/
.settingsTable .copyValue {
    float: right;
}

.settingsTable .masked {
    display: none;
}

/* icon */
.settingsTable .copyToClipboardIcon {
    height: 15px;
    width: 15px;
    background-image: url("/images/clipboard.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-left: 15px;
}

/* secret value */
.settingsTable .secret {
    color: red;
}

/* show masked value button*/
.settingsTable .ui-button .ui-button-text {
    line-height: 0.5;
    font-size: 10px;
}

/* connection string */
.settingsTable .cs {
    width: 400px;
}

/* comment column */
.settingsTable .c {
    width: 280px;
}

/* group column in connection strings */
.settingsTable .g {
    width: 300px;
}

/* group column trimmed */
.settingsTable .gt {
    width: 200px;
}

/* type column */
.settingsTable .t {
    width: 110px;
}

/*.settingsTable td,
.settingsTable th {
    border: 1px solid #999999;
}

.settingsTable td {
    padding: 4px;
}

.settingsTable th {
    padding: 5px 4px;
    color: black;
}

.settingsTable tr:hover {
    background-color: #DDDDDD
}*/

.configDialog {
    display: none;
}
.configDialog input[type=text] {
    width: 400px;
}

.configDialog .hiddenRow {
    display: none;
}

.configDialog table {
    /* This part doesn't work cuz css fucking sucks */
    border-collapse: separate;
    border-spacing: 2px;
    /* and this is for bootstrap */
    background: none;
}

.configDialog .ui-state-error {
    padding: 0 .7em;
}

.configDialog .ui-state-error-text {
    margin: 1em 0;
}

#settingsDialog .timeSpan input[type=text] {
    width: 70px;
    margin-right: 2px;
}
#settingsDialog .guid #guidInput1 {
    width: 75px;
    margin-right: 2px;
}

#settingsDialog .guid #guidInput2,
#settingsDialog .guid #guidInput3,
#settingsDialog .guid #guidInput4 {
    width: 50px;
    margin-right: 2px;
}

#settingsDialog .guid #guidInput5 {
    width: 110px;
    margin-right: 2px;
}
#settingsDialog .hide {
    display: none;
}

#settingsDialog table {
    margin: 0 auto;
}

#settingsDialog input[type=text] {
    margin-bottom: 3px;
}