@model Roblox.Configuration.Site.Models.Configuration.ConfigGroupModel

<tr id="configuration-group-@Model.Id" class="configuration-group-row" data-id="@Model.Id" data-url="/ConfigurationGroups/GroupRow/@Model.Id" data-completed-value="False">
    <td>@Model.Id</td>
    <td><a href="@Url.Action("Search")#@Model.Name.ToLower();;">@Model.Name</a></td>
</tr>