@using PagedList.Mvc;
@using Roblox.Configuration.Site.Models.Configuration;
@model PagedList.IPagedList<string>

@{
    ViewBag.Title = "Config Groups";
    //ViewBag.ScriptBundleNames.Add("list-groups");
    
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title
        <div class="pull-right">@ViewBag.CurrentTimestamp</div>
    </div>
    <div class="panel-body">
        <div id="select2help" class="glyphicon glyphicon-question-sign" style="display: inline-block; float: right; font-size: 24px;"></div>
        <div id="select2help-details" class="select2help-popover" style="display: none; padding-bottom: 40px;">
            <h2>Title</h2>
            Test Test Test
            <h2 style="margin-top: 10px;">Another Title</h2>
            More Testing!!!
        </div>
    </div>
</div>

<table id="configuration-groups-list" class="table table-striped table-condensed not-too-small">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                @Html.Partial(
                    "GroupElement",
                    new ConfigGroupModel
                    {
                        Id = i + 1 + (Model.PageNumber - 1) * Model.PageSize,
                        Name = Model.ElementAt(i)
                    }
                );
            }
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("ListGroups", new { page }))