@model IEnumerable<Roblox.ApiControlPlane.Client.IApiClient>

<table id="clientResults" class="table table-bordered table-hover clientTable">
    <thead>
        <tr>
            <th>ID <button id="create-new-client-button" class="btn btn-default btn-xs pull-right" title="Create new client"><span class="glyphicon glyphicon-plus"></span></button></th>
            <th style="width: 100px">Actions</th>
            <th style="width: 20px">Valid</th>
            <th>Note</th>
            <th style="width: 300px">Key</th>
            <th style="width: 125px">Authorizations</th>
            <th style="width: 175px">Created</th>
            <th style="width: 175px">Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("Row", item)
        }
    </tbody>
</table>