
@{
    ViewBag.Title = "PlaceHolder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid body-content">
    <h1>Hey there!</h1>
    <p>Looks like you found placeholder, check back for more content!</p>
</div>

@Scripts.Render("~/bundles/base")