
@{
    ViewBag.Title = "Test Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid body-content">
    @Html.Partial("~/Views/Testing/PanelTest.cshtml")
</div>

@Scripts.Render("~/bundles/base")
@Scripts.Render("~/bundles/testing")