@model Roblox.ApiControlPlane.Client.IAuthorization

<tr class="operation-row" data-service-name="Service.Name.Goes.Here" authorization-type="@Model.AuthorizationType">
    <td>Service.Name.Goes.Here</td>
    <td>@Model.AuthorizationType</td>
    <td style="text-align: center;">
        <button type="button" class="btn btn-default btn-xs" data-change-service-authorization">Change</button>
    </td>
</tr>