@model IEnumerable<Roblox.Configuration.Site.Models.Configuration.SettingModel>

@Model.Count() results
<table id="settingsResults" class="table table-bordered table-hover settingsTable">
    <thead>
        <tr>
            <th>ID <button id="CreateNewSettingButton" class="btn btn-default btn-xs pull-right" title="Create new setting"><span class="glyphicon glyphicon-plus"></span></button></th>
            <th>Actions</th>
            <th>Group</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>Comment</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("~/Views/Settings/Row.cshtml", item)
        }
    </tbody>
</table>